p {
  z-index: 180;
  color: #e7eaf6;
}

.createdContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  padding: 10px;
}
.created {
  color: #e7eaf6;
  background-color: #03182b;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 500px;
  min-height: 500px;
  border: 1px solid #e7eaf6;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
}
.created h3 {
  font-size: 27px;
  margin-top: 30px;
}
.created span {
  font-size: 50px;
}
.created p {
  text-align: center;
  font-size: 20px;
}
.created button {
  cursor: pointer;
  width: 300px;
  height: 150px;
  margin-top: 5px;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  font-size: 25px;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}
.created button:hover {
  background-color: rgb(147, 152, 231);
}
.ultimoBoton {
  margin-bottom: 30px;
}

.imagen {
  position: absolute;
  width: 100%;
  height: 100vh;
  object-fit: cover;
}
.btn {
  position: absolute;
  z-index: 50;
  width: 150px;
  padding: 10px;
  margin-top: 30px;
  margin-left: 40px;
  font-size: 20px;
  -webkit-box-shadow: -9px 0px 24px 12px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -9px 0px 24px 12px rgba(0, 0, 0, 0.75);
  box-shadow: -9px 0px 24px 12px rgba(0, 0, 0, 0.75);
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  cursor: pointer;
  background-image: url("../../images/NotFound.gif");
  background-size: cover;
  background-position: center;
  border: 1px solid rgb(231, 234, 246);
  color: rgb(231, 234, 246);
  text-shadow: -1px -1px 1px #333, 1px -1px 1px #333, -1px 1px 1px #333,
    1px 1px 1px #333;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
.btn:hover {
  -webkit-box-shadow: -9px 7px 18px 10px rgba(231, 234, 246, 0.75);
  -moz-box-shadow: -9px 7px 18px 10px rgba(231, 234, 246, 0.75);
  box-shadow: -9px 7px 18px 10px rgba(231, 234, 246, 0.75);
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
}

.container {
  display: flex;
  width: 100%;
  min-height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
}
.formContainer {
  z-index: 20;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-top: 20px;
  width: 500px;
  min-height: 80vh;
  border-radius: 30px;
  border: 1px solid #e7eaf6;
  color: #e7ecf6;
  background-color: #03182ba9;
  background-size: cover;
  background-position: center;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
}
.coso {
  z-index: 50;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.h2 {
  margin-top: 20px;
  color: #e7eaf6;
  margin-bottom: 10px;
  z-index: 20;
}
.formContainer input {
  background-color: #e7eaf6;
  font-size: 16px;
  margin: 5px;
  padding: 10px;
  width: 200px;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.formContainer select {
  background-color: #e7eaf6;
  font-size: 16px;
  width: 200px;
  padding: 10px;
  margin: 5px;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  cursor: pointer;
}
.nameContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pequeñosContainer {
  display: flex;
  justify-content: space-around;
}
.pequeñosContainer select {
  width: 150px;
  height: 40px;
  text-align: center;
}
.difficultyContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.seasonContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.countriesContainer {
  display: flex;
  justify-content: center;
}
.idsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.durationContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.labelDuration {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.error {
  display: inline-block;
  color: rgb(176, 253, 146);
  text-shadow: -1px -1px 1px #333, 1px -1px 1px #333, -1px 1px 1px #333,
    1px 1px 1px #333;
  padding-bottom: 5px;
  padding-right: 5px;
  border-bottom: 1px solid #e7eaf6;
  font-size: 16px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.submitContainer {
  display: flex;
  justify-content: center;
}
.submit {
  width: 150px;
  padding: 15px;
  font-size: 16px;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  cursor: pointer;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}

.submit:hover {
  background-color: rgb(112, 112, 236);
}

.ulContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 50;
}
.nombresDePaises {
  background-color: #03182bcc;
  color: #e7eaf6;
  padding: 15px;
  list-style: none;
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
}

.nombresDePaises li {
  text-align: center;
  margin: 10px;
  padding: 5px;
  border-bottom: 1px solid #e7eaf6;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.resetear {
  padding: 10px;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  background-color: #03182bcc;
  color: #cdbcf6;
  cursor: pointer;
  font-size: 20px;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
.resetear:hover {
  color: rgb(176, 253, 146);
  background-color: #03182b;
}
