.boton {
  position: absolute;
  top: 20px;
  left: 20px;
  width: 150px;
  padding: 10px;
  font-size: 20px;
  -webkit-box-shadow: -9px 0px 24px 12px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -9px 0px 24px 12px rgba(0, 0, 0, 0.75);
  box-shadow: -9px 0px 24px 12px rgba(0, 0, 0, 0.75);
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  cursor: pointer;
  background-image: url("../../images/NotFound.gif");
  background-size: cover;
  background-position: center;
  border: 1px solid rgb(231, 234, 246);
  color: rgb(231, 234, 246);
  text-shadow: -1px -1px 1px #333, 1px -1px 1px #333, -1px 1px 1px #333,
    1px 1px 1px #333;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
.boton:hover {
  -webkit-box-shadow: -9px 7px 18px 10px rgba(231, 234, 246, 0.75);
  -moz-box-shadow: -9px 7px 18px 10px rgba(231, 234, 246, 0.75);
  box-shadow: -9px 7px 18px 10px rgba(231, 234, 246, 0.75);
}

.allContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: rgb(231, 234, 246);
  padding-top: 20px;
}

.detailContainer {
  background-color: #03182b;
  border-radius: 10px;
  border: 1px solid rgb(231, 234, 246);
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  transition: 0.5s;
  -webkit-transition: ;
  -moz-transition: ;
  -ms-transition: ;
  -o-transition: ;
  -webkit-box-shadow: -9px 0px 24px 12px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -9px 0px 24px 12px rgba(0, 0, 0, 0.75);
  box-shadow: -9px 0px 24px 12px rgba(0, 0, 0, 0.75);
  overflow: hidden;
  transition: 0.3s;
  margin-bottom: 50px;
}
.detailContainer:hover {
  -webkit-box-shadow: -9px 7px 18px 10px rgba(231, 234, 246, 0.75);
  -moz-box-shadow: -9px 7px 18px 10px rgba(231, 234, 246, 0.75);
  box-shadow: -9px 7px 18px 10px rgba(231, 234, 246, 0.75);
  border: 1px solid #03182b;
}

.idContainer {
  display: flex;
  justify-content: center;
  position: absolute;
  margin-top: 20px;
  margin-left: 20px;
  width: 80px;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  border: 3px outset rgb(231, 234, 246);
  background-image: url("../../images/RecorteId.jpg");
  outline: 2px solid #03182b;
}
.id {
  color: rgb(231, 234, 246);
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 2px;
  padding: 5px;
  text-shadow: -1px -1px 1px #333, 1px -1px 1px #333, -1px 1px 1px #333,
    1px 1px 1px #333;
}

.imgDetail {
  object-fit: cover;
  max-width: 500px;
  max-height: 400px;
}

.parrafosDetail {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  gap: 30px;
  width: 100%;
  height: 300px;
  background-color: #03182b;
  background-size: cover;
  text-shadow: -1px -1px 1px #333, 1px -1px 1px #333, -1px 1px 1px #333,
    1px 1px 1px #333;
}

.parrafosDetail h3 {
  font-size: 30px;
}

/*---------------------------------------------------------------------------------------------------------*/
.activitiesContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  align-items: center;
  justify-content: center;
}

.activities {
  background-color: #03182b;
  cursor: pointer;
  border-radius: 10px;
  border: 1px solid rgb(231, 234, 246);
  width: 230px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  overflow: hidden;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  -webkit-box-shadow: -9px 0px 24px 12px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -9px 0px 24px 12px rgba(0, 0, 0, 0.75);
  box-shadow: -9px 0px 24px 12px rgba(0, 0, 0, 0.75);
}

.imgActivity {
  width: 100%;
  height: 70%;
  object-fit: cover;
}

.activitiesParrafos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  gap: 10px;
  width: 100%;
  height: 150px;
  background-color: #03182b;
}
