.welcomeContainer {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 30%;
  left: 0;
  right: 0%;
  color: #e7eaf6;
  z-index: 10;
}

.titulo {
  font-size: 50px;
}

.boton {
  width: 150px;
  height: 50px;
  font-size: 25px;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  border: 1px solid #e7eaf6;
  color: #e7eaf6;
  background-color: transparent;
  box-shadow: -11px 11px 44px 0px rgba(233, 236, 247, 0.75);
  margin: 50px;
  padding: 5px;
  letter-spacing: 2px;
  cursor: pointer;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}

.boton:hover {
  transform: scale(1.3);
  -webkit-transform: scale(1.3);
  -moz-transform: scale(1.3);
  -ms-transform: scale(1.3);
  -o-transform: scale(1.3);
}

.imgWelcome {
  position: absolute;
  width: 100vw;
  height: 100%;
  object-fit: cover;
}
