.cardContainer {
  background-color: #03182b;
  border-radius: 10px;
  border: 1px solid rgb(231, 234, 246);
  width: 230px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  overflow: hidden;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  -webkit-box-shadow: -9px 0px 24px 12px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -9px 0px 24px 12px rgba(0, 0, 0, 0.75);
  box-shadow: -9px 0px 24px 12px rgba(0, 0, 0, 0.75);
  margin-bottom: 50px;
}
.cardContainer:hover {
  -webkit-box-shadow: -9px 7px 18px 10px rgba(231, 234, 246, 0.75);
  -moz-box-shadow: -9px 7px 18px 10px rgba(231, 234, 246, 0.75);
  box-shadow: -9px 7px 18px 10px rgba(231, 234, 246, 0.75);
}
.cardContainer span {
  position: absolute;
  padding: 7px;
  margin: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(231, 234, 246);
  background-color: red;
  font-size: 18px;
  min-width: 30px;
  min-height: 30px;
  text-align: center;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  cursor: pointer;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
.cardContainer span:hover {
  transform: scale(1.3);
  -webkit-transform: scale(1.3);
  -moz-transform: scale(1.3);
  -ms-transform: scale(1.3);
  -o-transform: scale(1.3);
}

.cardContainer img {
  width: 100%;
  height: 70%;
  object-fit: cover;
}

.parrafosContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  gap: 10px;
  width: 100%;
  height: 150px;
  background-color: #03182b;
  color: rgb(231, 234, 246);
  background-size: cover;
  text-shadow: -1px -1px 1px #333, 1px -1px 1px #333, -1px 1px 1px #333,
    1px 1px 1px #333;
}
