.cardContainer {
  background-color: #03182b;
  border-radius: 10px;
  border: 1px solid rgb(231, 234, 246);
  width: 230px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  overflow: hidden;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  -webkit-box-shadow: -9px 0px 24px 12px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -9px 0px 24px 12px rgba(0, 0, 0, 0.75);
  box-shadow: -9px 0px 24px 12px rgba(0, 0, 0, 0.75);
}
.cardContainer:hover {
  transform: scale(1.2);
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -o-transform: scale(1.2);
  -webkit-box-shadow: -9px 7px 18px 10px rgba(231, 234, 246, 0.75);
  -moz-box-shadow: -9px 7px 18px 10px rgba(231, 234, 246, 0.75);
  box-shadow: -9px 7px 18px 10px rgba(231, 234, 246, 0.75);
}

.cardContainer img {
  width: 100%;
  height: 70%;
  object-fit: cover;
}

.parrafosContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  gap: 10px;
  width: 100%;
  height: 150px;
  background-color: #03182b;
  color: rgb(231, 234, 246);
  background-size: cover;
  text-shadow: -1px -1px 1px #333, 1px -1px 1px #333, -1px 1px 1px #333,
    1px 1px 1px #333;
}
