.navBarContainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100px;
}

.filtradosContainer {
  display: flex;
  justify-content: center;
  gap: 10px;
}



.activitiesContainer{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
